# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Centralized bytecode
.pycache/

# Virtual env, etc.
.venv/
.env
certs
.mypy_cache/
.pytest_cache/
.ruff_cache/